{#Simple html file to get the client integer inout and display the result#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>'Main Page'</title>
</head>
<body>
<form action="/" method="POST">
      <p>Input 1: <input type="number" name="val1"></p>     {# input number box #}
      <input type="submit" value="Add">       {# input submit box #}
      <p>Results: {{ content }}</p>     {# for displaying the result of splitting #}
      <p>Array is: {{ content1 }}</p>       {# to display the content of the array #}
</form>
</body>
</html>